@use "./base.scss";
@use "./themes";


.callout {

    --callout-icon-watcher: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path fill="none" d="M4 22c-.55-2-.78-4-.71-5.8.11-2.8.27-3.7.73-5.7-2-3.1-2.1-5.6-.32-7.4 1.8-1.8 3.2-.22 4.5 4.7 1.4 0 2-.17 4.4-.15 2.4.02 2.4.14 3.7.14.88-5 2.2-6.6 4-4.6 1.8 2 1.6 4.4-.61 7.2.76 2.2.91 3.3 1.1 5.9.14 1.7.01 3.6-.39 5.7z"/><g fill="currentcolor" fill-rule="evenodd"><path stroke-width=".55" d="M12 19c-1.2-.55-1.2-.83-.02-.84 1.2-.01 1.2.27.02.84z"/><ellipse cx="7.9" cy="15" stroke-width="2" rx="1.4" ry="2.9"/><ellipse cx="16" cy="15" stroke-width="2" rx="1.4" ry="2.9"/></g></svg>');

    &[data-callout="watcher"] {
      --color: #c1bfd3;
      --border: #4d4561c7;
      --bg: #241d3ba1;
      --callout-icon: var(--callout-icon-watcher);
    }
  }
// put your custom CSS here!
